*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/* Colors */
/* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --Soft-pink: hsl(333, 80%, 67%);
/* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

/* Typography */
/* Body Copy */
  --fsize: 15px;
  --ffamily-spartan: 'Spartan', sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--ffamily-spartan);
  font-size: var(--fsize);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    url('../images/bg-pattern-top-mobile.svg'), 
    url('../images/bg-pattern-bottom-mobile.svg');
  background-position: 
    left 0 top 0,
    left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: contain;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Layout */

.container-main {
  padding: 80px 24px 100px;
}

.review {
  display: flex;
  flex-direction: column;
  row-gap: 2.5em;
  margin-bottom: 70px;
}

.review__info {
  text-align: center;
}

.review__title {
  color: var(--very-dark-magenta);
  font-size: 2rem;
  font-weight: 700;
  padding: 0 .5em;
  line-height: 1;
}

.review__subtitle {
  font-weight: 500;
  padding-top: 12px;
  font-size: 16px;
}

.review__subtitle {
  color: var(--dark-grayish-magenta);
}

/* Rating Card Start*/

.review__rating-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .3em;
  padding: 16px;
  background-color: var(--light-grayish-magenta);
  border-radius: 8px;
}

.review__rating-card:not(:last-child) {
  margin-bottom: 16px;
}

.star-list {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: .5em;
}

.review__rating-title {
  font-size: .85rem;
  color: var(--very-dark-magenta);
}

/* Rating Card End */


/* User Review Card Start */

.testimonial-grid {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.testimonial-card {
  padding: 34px 32px 39px;
  padding-top: 2.625em;
  background-color: var(--very-dark-magenta);
  border-radius: 8px;
}

.testimonial-card__header {
  display: flex;
}

.testimonial-card__img {
  border-radius: 50%;
  max-height: 40px;
}

.testimonial-card__buyer-info {
  margin-left: 1.5em;
}

.buyer-name {
  font-size: .8rem;
  color: var(--white);
}

.buyer-status {
  color: var(--Soft-pink);
  font-size: 13px;
}

.testimonial-card__message {
  font-size: 13px;
  color: var(--light-grayish-magenta);
  padding-top: 26px;
  line-height: 1.7;
}

/* User Review Card End */



/* Media queries */
@media (min-width: 800px) {

  body {
    background-image:
      url('../images/bg-pattern-top-desktop.svg'), 
      url('../images/bg-pattern-bottom-desktop.svg');
      background-position: 
      left 0 top 0,
      right 0 bottom 0;
      background-size: auto;
  }
  .container-main {
    max-width: 1110px;
    margin: auto;
    padding-right: 0;
    padding-left: 0;
    padding: 80px 24px 99px;
  }

  .review {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2em;
  }

  
  .review__ratings {
    width: 50%;
    padding-top: 14px;
  }

  .review__info {
    text-align: left;
    width: 50%;
  }

  .review__title {
    font-size: 3rem;
    padding: 0;
  }

  /* Rating Card Start */

  .review__rating-card {
    flex-direction: row;
    column-gap: 2em;
    padding-left: 2em;
    width: 85%;
  }

  .level-2 {
    margin: auto;
  }

  .level-3 {
    margin-left: auto;
  }

  /* Rating Card End */

  /* User Review Card Start */*
  .testimonial-grid {
    flex-direction: row;
    column-gap: 30px;
  }

  .testimonial-card:first-child {
    margin-bottom: 32px;
  }

  .testimonial-card:nth-child(2) {
    margin: 16px 0;
  }

  .testimonial-card:nth-child(3) {
    margin-top: 32px;
  }

  /* User Review Card End */


}